.wrapper {
    background-color: $darkGreen;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
        height: 5vh;
        padding-inline: 10px;

        a {
            margin-inline-start: 1em;
            color: $atxt
        }
    }
}