.contact-filter {
    display: flex;
    justify-self: center;
    width: 25%;
    padding: 16px;


    .filter-input {
        border: 1px solid #ccc;
        border-radius: 16px;
        padding: 10px;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }
}