.home-page{
    h2 {
        font-size: 2rem;
        color: #f7931a; 
        text-align: center;
        margin: 2rem 0;
      }
      
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
        border-radius: 50%;
        border: 5px solid #f7931a; 
      }
      margin-bottom: 32px;
}