// Colors
$white: #Ffffff; //
$darkGreen: #002529; //
$rapBlue: #79c8c7; //
$atxt: hsla(0, 0%, 100%, .55);

// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;